* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-side: #45779a;
}

body {
    overflow-x: hidden;
}

.home .navbar-brand img {
    height: 82px;
}

.collapse {
    margin-top: -11px;
}

.navbar-nav {
    margin-left: 143px;
}

.nav-link {
    font-size: 1.1vw;
    color: #111111;
    font-family: "Inter", sans-serif;
    margin-left: 21px;
}

.btn {
    padding: 12px 24px;
    border-radius: 34px;
    font-size: 19px;
    font-weight: 600;
    background-color: #88a46e;
}

.btn:hover {
    background-color: #45779a;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.general {
    padding-top: 23px;
    width: 220px;
    height: 130px;
    border-right: 1px dotted gray;
}

.general h1 {
    font-size: 41px;
    font-weight: 600;
    margin-right: 42px;
}

.general h5 {
    font-weight: 400;
    font-size: 18px;
    color: #6d6363a8;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}

.global {
    height: 700px;

}

.global .col-lg-6 img {
    height: 500px;
}

.global .col-lg-5 {
    padding-left: 53px;
}

span {
    color: var(--color-side);
}

.frst {
    color: #111111;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 74px;
    margin-top: 69px;
    letter-spacing: -1.78px;
    font-weight: 700;
    font-size: 76px;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.frst-2 {
    color: #111111;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 60px;
    line-height: 66px;
    font-size: 72px;
    letter-spacing: -1.5px;
    margin-left: 60px;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.frst-3 {
    color: #111111;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 210px;
    font-size: 72px;
    margin-left: 63px;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.frst-4 {
    margin-left: 60px;
}

.farm {
    margin-left: 60px;
}

.scnd {
    font-family: "Inter", sans-serif;
    font-size: 19px;
    padding-top: 30px;
    margin: 12px 0 0;
    font-weight: 300;
    color: #111111;
}

.thrd {
    background-color: #f6f9fc;
    width: 163px;
    letter-spacing: -0.8px;
    margin-top: 20px;
    margin-left: 7px;
    padding: 13px 0px;
}

.thrd:hover {
    background-color: #edeef2;
}

.imfor {
    height: 133px;
    margin-top: 557px;
    background-color: #f6f9fc;
    border: 1px solid rgba(194, 175, 175, 0.656);
}


.infinite {
    height: 370px;
    margin-top: 43px;

}

.infinite-2 {
    height: 370px;

}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    padding-top: 44px;
    height: 143px;
    background-color: #f6f9fc;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    white-space: nowrap;
}

.logos-slide {
    display: inline-block;
    animation: 11s slide infinite linear;
}

.logos-slide img {
    height: 46px;
    margin: 0 44px;
    opacity: 0.67;
}

.content {
    height: 20vh;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.hidden {
    opacity: 0;
    transform: translateY(100px);
}

.show {
    opacity: 1;
    transform: translateY(0);
}

section:nth-child(odd) {
    background-color: lightblue;
}

section:nth-child(even) {
    background-color: lightgreen;
}

.future {
    height: 500px;
    margin-top: 53px;

}

.future h1 {
    font-size: 56px;
    margin-top: -58px;
    font-weight: 700;
}

.commit {
    font-size: 20px;
    color: #111111;
    font-family: inter, sans-serif;
    font-weight: 500;
    margin-left: 9px;
    opacity: 0.91;
    letter-spacing: -0.35px;
}

.hello {
    height: 413px;
    margin-left: 243px;
}

.dinest {
    margin-top: 405px;
}

.frontend {
    height: 350px;
    margin-top: 55px;

}

.box-office {
    margin-top: 156px;
    height: 400px;
}

.knowladge {
    height: 190px;
}

.cenitiaz {
    margin-top: 5px;
}

.Expert {
    background-color: #f6f9fc;
    margin-left: 23px;
    height: 418px;
}

.Expert .col-lg-5 img {
    height: 413px;
}

.expert-life {
    padding-top: 34px;
    padding-left: 17px;
    width: 400px;
}

.expert-life h1 {
    font-size: 37px;
    margin-top: 28px;
    color: #111111;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-family: "Inter", sans-serif;
}

.lead-more {
    font-size: 21px;
    font-weight: 600;
}

.dino {
    font-size: 40px;
    height: 100px;
    font-weight: 700;
}

.local-sec {
    margin-left: 23px;
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.local-sec .col-lg-4 h2 {
    font-size: 29px;
    border-left: 3px solid #185c90;
    padding-left: 12px;
    letter-spacing: -0.7px;
    font-weight: bold;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.local-sec .col-lg-3 h2 {
    font-size: 29px;
    border-left: 3px solid #185c90;
    padding-left: 12px;
    letter-spacing: -0.7px;
    font-weight: bold;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.box-office-2 {
    height: 900px;
    margin-top: 156px;
}

.box-office-2 h1 {
    font-size: 60px;
    font-weight: 700;
    height: 100px;

}

.box-office-3 {
    height: 700px;
    margin-top: 56px;
}

.box-office-3 h1 {
    font-size: 60px;
    font-weight: 700;
}

.box-office-3 .local-sec {
    height: 200px;
    margin-top: 44px;
}

.box-office-3 .knowladge {
    padding-left: 0px;
    margin-top: 67px;
}

.ordinory {
    padding-left: 25px;
}

.ordinory .col-lg-4 {
    background-color: #2164a7;
    height: 200px;
    width: 350px;
    font-size: 23px;
    margin-left: 23px;

}

.expert-life {
    width: 500px;
    /* padding-left: 76px; */
}

.savel {
    padding-left: 75px;
}

.growthing {
    padding-top: 78px;
    padding-left: 34px;
    padding-bottom: 78px;
}

.growthing h1 {
    font-family: "Inter", sans-serif;
    font-size: 50px;
    letter-spacing: -0.8px;
    color: #111111;
    font-weight: bold;
}

.part {
    margin-left: 9px;
    height: 150px;
    width: 300px;
}

.part h2 {
    font-family: "Inter", sans-serif;
    font-size: 35px;
    margin-top: 15px;
    margin-left: 25px;
    font-weight: 600;
}

.part .lead {
    font-size: 18px;
    color: #6e6868;
    font-weight: 400;
    margin-left: 24px;
    font-family: "Inter", sans-serif;
}

.growthing {
    background-color: #f6f9fc;
    height: 630px;
    margin-left: 134px;
    width: 1200px;
}

.growthing .col-lg-4 img {
    height: 500px;
    margin-left: 30px;
}

.beauty {
    width: 1300px;
    margin-left: 124px;
    height: 440px;
    background: url("https://cdn.prod.website-files.com/66c3c2f2488e999b82d81e91/66c3c2f2488e999b82d81e9d_Group%201000017134.svg");
    background-color: #111111;
}

.beauty-cermon {
    width: 1300px;
    margin-left: 124px;
    height: 440px;
    background: url("https://cdn.prod.website-files.com/66c3c2f2488e999b82d81e91/66c3c2f2488e999b82d81e9d_Group%201000017134.svg");
    background-color: #111111;
}

.beauty-group {
    height: 440px;
    /* margin-left: 78px; */
    width: 1202px;
    background: url("https://cdn.prod.website-files.com/66c3c2f2488e999b82d81e91/66c3c2f2488e999b82d81e9d_Group%201000017134.svg");
    background-color: #111111;
    margin-left: 137px;
}

.beauty-control {
    width: 1202px;
    margin-left: 133px;
    height: 440px;
    background: url("https://cdn.prod.website-files.com/66c3c2f2488e999b82d81e91/66c3c2f2488e999b82d81e9d_Group%201000017134.svg");
    background-color: #111111;
}

.beauty h1 {
    font-family: "Inter", sans-serif;
    font-size: 57px;
    font-weight: 600;
    padding-top: 125px;
    max-width: 666px;
}

.beauty-cermon h1 {
    font-family: "Inter", sans-serif;
    font-size: 57px;
    font-weight: 600;
    padding-top: 125px;
    max-width: 666px;
}

.beauty-group h1 {
    font-family: "Inter", sans-serif;
    font-size: 57px;
    font-weight: 600;
    padding-top: 125px;
    max-width: 666px;
}

.contact-us {
    width: 1300px;
    margin-left: 123px;
    height: 430px;
    background-color: #f6f9fc;
}

.contact-us .col-lg-5 {
    padding-top: 75px;
    padding-left: 24px;
}

.digital {
    margin-left: 141px;
    width: 1203px;
}

.dragon {
    margin-left: 184px;
    width: 1203px;
}

.svg {
    height: 45px;
    width: 45px;
    background-color: #fffdf3;
    border: 1px solid #edeef2;
    border-radius: 50%;
    margin-left: 12px;
}

.svg:hover {
    background-color: #8d9882;
}

.footer {
    margin-left: 50px;
}

.footer h6 {
    font-size: 17px;
    font-weight: 700;
}

.footer-link {
    opacity: .6;
    color: var(--primary-02);
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    margin-left: 0px;
}

.footer-link:hover {
    color: #21222485;
}

.thrd-section h4 {
    font-size: 21px;
    font-weight: 600;
}

.fluider h1 {
    font-size: 24px;
}


.card-title {
    font-weight: 600;
    color: #111111;
    width: 383px;
    margin-top: 13px;
    font-size: 19px;
    opacity: 2;
    margin-left: 16px;
}

.frst-section h2 {
    font-size: 3rem;
    font-weight: 600;
}


.questions {
    background-color: #f6f9fc;
    margin-left: 63px;
    height: 900px;
}

#flush-collapseOne,
#flush-collapseTwo,
#flush-collapseThree,
#flush-collapsefour,
#flush-collapsefive {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #f6f9fc;
    font-size: 17px;
    font-weight: 600;
    font-weight: 500;
}

.questions h1 {
    text-align: center;
    max-width: 554px;
    display: block;
    color: #111111;
    font-weight: 700;
    margin-left: 336px;
    letter-spacing: -3px;
    font-size: 64px;
}

.knowladge .col-lg-4 {
    background-color: #f6f9fc;
    height: 200px;
    width: 350px;
    font-size: 23px;
    margin-left: 23px;
}

.knowladge .col-lg-4 h2 {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    margin-top: 33px;
    opacity: 0.83;
    /* border: none; */
    margin-left: 12px;
    color: #111111;
    border-left: 4px solid #185c90;
}

.knowladge .col-lg-4 p {
    font-size: 18px;
    margin-left: 28px;
    opacity: 0.56;
    margin-top: 19px;
}

.highlights {
    height: 600px;
    padding-left: 43px;

}

.highlights h1 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
    height: 29px;
    padding-left: 12px;
    border-left: 4px solid #45779a;
}

.highlights p {
    font-size: 17px;
    opacity: 0.79;
    font-weight: 400;
    margin-top: 23px;
    margin-left: 21px;
    color: #3d3b3b;
}

.highlights .col-lg-5 img {
    height: 440px;
}

.approch {
    /* background: #434343; */
    height: 400px;
    margin-left: 54px;
}

.approched {
    margin-top: 60px;
    height: 720px;
}

.approch img {
    height: 485px;
}

.approch .btn {
    padding: 42px 28px;
    padding-top: 15px;
    margin-left: 453px;
    margin-top: 80px;
}

.approch h1 {
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-size: 63px;
    max-width: 555px;
}

.approch p {
    font-size: 18px;
    font-weight: 400;
    color: #111111;
    opacity: 0.66;
    margin-left: 8px;
    margin-top: 14px;
}

.approch .col-lg-4 {
    height: 230px;
    margin-left: 12px;
    background-color: #f6f9fc;
    border-right: 1px dotted rgb(203, 192, 192);
    padding-top: 45px;
    padding-left: 34px;
}

.approch .col-lg-3 {
    height: 230px;
    margin-left: 12px;
    background-color: #f6f9fc;
    border-right: 1px dotted rgb(203, 192, 192);
    padding-top: 45px;
    width: 360px;
    padding-left: 34px;
}

.men-meeting {
    margin-top: 0px;
}

.men-meeting h5 {
    margin-left: 13px;
    font-weight: 600;
    /* opacity: 0.98; */
    opacity: 2;
    font-size: 20px;
}

.clients {
    height: 950px;
    background-color: #f6f9fc;
    margin-top: 555px;
    margin-left: 65px;
    width: 1208px;
}

.quoter {
    font-size: 65px;
    max-width: 766px;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-top: 123px;
    margin-right: auto;
}

.clients .col-lg-5 {
    height: 507px;
    padding-left: 64px;
    margin-top: 56px;
}

.clients img {
    height: 83px;
}

.clients h4 {
    margin-left: 26px;
    color: #111111;
    font-weight: 700;
}

.tour {
    height: 30px;
    margin-left: 24px;
    margin-top: 23px;
}

.clients .lead {
    margin-left: 125px;
    margin-top: -39px;
    font-weight: 600;
}

.highfie {
    margin-left: 60px;
    width: 1103px;
    height: 660px;

}


.highfie .col-lg-5 h1 {
    font-weight: 700;
    margin-top: 45px;
    font-size: 48px;
    width: 375px;
    letter-spacing: -1px;
}

.highfie .col-lg-5 p {
    font-size: 17px;
    color: #111111;
    opacity: 0.56;
    margin-top: 24px;
}

.highfie .col-lg-7 img {
    height: 550px;
}

.hidden .control {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.connect {
    margin-left: 16px;
    font-size: 19px;
    margin-top: 8px;
    font-weight: 600;
}

.teammates {
    margin-top: 45px;
    height: 900px;
    margin-left: 72px;
}

.beauty-parlour {
    margin-left: 183px;
    margin-top: 45px;
    width: 1203px;
}


.content-portion {
    height: 233px;
}

.content-portion h1 {
    font-weight: 700;
    font-size: 63px;
}

.content-portion p {
    font-size: 21px;
    opacity: 0.58;
    margin-top: 43px;
    color: #111111;
    max-width: 626px;

}

.teammates .card-body {
    padding-left: 33px;
    background-color: #f6f6fc;
}

.teammates .col-lg-4 {
    height: 600px;
}

.card-body h6,
h5 {
    opacity: 0.47;
    color: #111111;
    font-size: 17px;
}

.letter-items {
    letter-spacing: -.32px;
    margin-top: 32px;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 18px;
    line-height: 24px;
    display: block;
}

.selfless {
    height: 700px;
    padding-top: 52px;
    margin-left: 33px;
}

.fitness {
    width: 250px;
}

.content-creator h1 {
    font-size: 76px;
    max-width: 754px;
    font-family: "Inter", sans-serif;
    line-height: 70px;
    color: #111111;
    font-weight: 700;
}

.selfless .col-lg-3 {
    background-color: #f6f9fc;
    height: 350px;
    width: 344px;
    margin-top: 56px;
}

.selfless .col-lg-3 h3 {
    font-size: 22px;
    margin-left: 11px;
    max-width: 317px;
    font-weight: 600;
    letter-spacing: -0.34px;
    margin-top: 12px;
}

.selfless .col-lg-3 .lead {
    font-weight: 400;
    margin-top: 24px;
    margin-left: 11px;
}

.selfless .col-lg-7 {
    width: 884px;
    background-color: #f6f9fc;
    height: 350px;
    margin-left: 43px;
    margin-top: 56px;
}

.okkkk {
    margin-left: 10px;
    margin-top: 0px;
}

.selfless .col-lg-7 h3 {
    font-size: 22px;
    margin-left: 11px;
    letter-spacing: -0.25px;
    max-width: 447px;
    font-weight: 600;
    margin-top: 12px;
}

.selfless .col-lg-7 .lead {
    font-weight: 400;
    margin-top: 24px;
    margin-left: 11px;
}

.paul {
    padding-top: 75px;
}

.selfless .paul img {
    height: 263px;
    display: block;
}

.today-lt {
    background-color: #f6f9fc;
    height: 1500px;
    margin-left: 33px;
}

.letter-items {
    letter-spacing: -.32px;
    margin-top: 32px;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 17px;
    font-weight: 400;
    opacity: 0.89;
    line-height: 24px;
    display: block;
}

.certi-portion h1 {
    font-weight: 700;
    /* background-color: #185c90; */
    max-width: 740px;
    text-align: center;
    font-size: 59px;
    margin-top: 65px;
    letter-spacing: -2px;
}

.certi-portion img {
    height: 438px;
    width: 1223px;
    margin-left: 13px;
}

.certi-portion .input-group {
    width: 500px;
    height: 70px;
    border-radius: 34px;
}

.certi-portion .col-lg-6 {
    height: 180px;
    padding-top: 29px;
    padding-left: 34px;
}

.twenty-1 {
    border-left: 4px solid #45779a;
    opacity: 2;
    padding-left: 12px;
    font-weight: 700;
    letter-spacing: -0.72px;
    font-size: 25px;
}

.twenty-2 {
    font-size: 17px;
    font-weight: 400;
    color: #111111;
    opacity: 0.66;
    max-width: 556px;
    margin-left: 21px;
    margin-top: 14px;
}

.jobs {
    margin-top: 75px;
    height: 300px;
    margin-left: 11px;
}

.jobs h1 {
    font-weight: 700;
    letter-spacing: -3px;
    font-size: 62px;
}

.jobs .d-flex {
    margin-top: 0px;
}

.jobs p {
    margin-left: 12px;
    margin-top: 0px;
    margin-right: 284px;
    font-weight: 700;
    font-size: 22px;
}

.jobs h6 {
    font-size: 21px;
    margin-left: -107px;
    font-weight: 400;
}

.jobs h5 {
    font-size: 21px;
    font-weight: 400;
    margin-left: 259px;
    opacity: 2;
}

.jobs .btn {
    margin-left: 300px;
    padding-left: 15px;
    padding-right: 15px;
}

.frst-section h1 {
    font-weight: 600;
    font-size: 48px;
}

.livetik {
    height: 860px;
    font-family: Inter, sans-serif;
    padding-left: 75px;
}

.livetik h1 {
    font-size: 72px;
    font-weight: 700;
}

.fluider h1 {
    font-size: 30px;
    letter-spacing: -1px;
}

.local-sher {
    height: 800px;
    padding-left: 75px;
}

.local-sher h1 {
    font-size: 65px;
    height: 100px;
}

.local-sher .card-img-top {
    height: 24rem;
}

.local-sher .col-lg-6 .lead {
    font-weight: 500;
    margin-left: 16px;
    color: rgb(112, 116, 116);
}

.accordion-button {
    background-color: #f6f9fc;
    font-size: 19px;
    font-weight: 600;
}

.questions .col-lg-5 img {
    height: 500px;
}

@media (max-width:992px) {

    html,
    body {
        overflow-x: hidden;
        width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        opacity: 0.83;
    }


    .navbar-nav {
        margin-top: 3px;
        margin-left: 0;
    }

    .navbar-nav .nav-link {
        font-size: 17px;
        margin-top: 10px;
        font-weight: 600;
        letter-spacing: -2px;
        letter-spacing: 1px;
        text-align: center;
    }

    .row {
        margin-left: 0px;
    }

    .global .col-lg-5 {
        height: 550px;
        padding-left: 10px;
    }

    .btn {
        display: block;
    }

    .thrd {
        width: 160px;
    }

    .general h1 {
        font-size: 28px;
        font-weight: 700;
        margin-left: 23px;
    }

    .general h5 {
        font-weight: 700;
        font-size: 20px;
        margin-top: 7px;
        opacity: 0.46;
        color: #111111;
        margin-left: 22px;
    }

    .global {
        height: 700px;
        margin-left: -6px;
    }

    .global .frst {
        font-size: 42px;
        letter-spacing: -1.6px;
        opacity: 1;
        margin-top: 10px;
        font-weight: 600;
        max-width: 312px;
        line-height: 47px;
    }

    .global .col-lg-6 img {
        height: 374px;
        margin-left: -42px;
    }

    .scnd {
        margin-top: -14px;
        line-height: 27px;
        font-size: 17px;
    }

    .dinest {
        position: relative;
        top: -67px;
    }

    .imfor {
        height: 380px;
        border: none;
        margin-top: 433px;
    }

    .general {
        height: 100px;
        width: 100%;
        margin-top: 19px;
        padding-top: 11px;
    }

    .infinite {
        margin-top: 730px;
        width: 96%;
        height: 300px;
    }

    .infinite-2 {
        margin-top: 5px;
    }

    .commit {
        font-size: 18px;
        font-weight: 700;
        margin-left: 10px;
        letter-spacing: 0.15px;
        color: #111111;
        opacity: 0.78;
    }

    .future h1 {
        opacity: 0.88;
        margin-top: 22px;
        font-size: 40px;
        width: 555px;
        margin-bottom: 26px;
        font-weight: 700;
    }

    .future .expert-life h1 {
        opacity: 0.88;
        margin-top: 22px;
        font-size: 26px;
        margin-left: 12px;
        width: 555px;
        margin-bottom: 26px;
        font-weight: 700;
    }


    .expert-life {
        margin-top: 151px;

    }

    .future {
        height: 788px;
        margin-top: 14px;
    }

    .future p {
        margin-top: 12px;
        margin-left: 18px;
    }

    .local-sec {
        height: 293px;
    }

    .Expert {
        height: 704px;
    }

    .Expert .col-lg-5 img {
        /* width: 310px; */
        height: 324px;
    }

    .type {
        margin-top: 250px;
        margin-left: -67px;
        height: 446px;
    }

    .Expert .col-lg-6 .hello {
        float: inline-start;
        height: 338px;
        margin-left: 0;
        margin-top: -123px;
        width: 95%;
    }

    .lgd {
        height: 200px;
        margin-top: 23px;
    }

    .visible {
        height: 800px;
        margin-left: -4px;
    }

    .box-office-2 {
        margin-top: 371px;
        height: 2107px;
    }

    .box-office-2 h1 {
        font-size: 26px;
        letter-spacing: -1px;
        height: 40px;
        font-weight: 700;
    }

    .box-office-3 {
        height: 1554px;
        margin-top: 63px;
    }

    .box-office-3 h1 {
        opacity: 0.89;
        font-size: 35px;
        font-weight: 800;
        height: 90px;
    }

    .box-office-3 .local-sec .love {
        margin-top: 45px;
    }

    .box-office-3 .knowladge .col-lg-4 {
        margin-left: -16px;
        width: 95%;
        height: 190px;
    }

    .box-office-3 .local-sec {
        height: 630px;
    }

    .men-meeting {
        margin-top: -120px;
    }

    .beauty-group {
        padding-left: 0;
        padding-right: 0;
        width: 100vw;
        background: url("https://cdn.prod.website-files.com/66c3c2f2488e999b82d81e91/66c3c2f2488e999b82d81e9d_Group%201000017134.svg");
        margin-left: 0px;
        background-color: #111111;
    }

    .beauty-group h1 {
        font-family: "Inter", sans-serif;
        font-size: 38px;
        font-weight: 600;
        text-align: center;
        padding-top: 125px;
        max-width: 666px;
    }

    .beauty-control h1 {
        font-family: "Inter", sans-serif;
        font-size: 50px;
        font-weight: 600;
        padding-top: 66px;
    }

    .frst-2 {
        margin-left: 0px;
        font-weight: 700;
        opacity: 1;
        max-width: 111px;
        color: #111111;
        line-height: 41px;
        letter-spacing: -0.75px;
        font-size: 40px;
    }

    .farm {
        margin-left: 0;
    }

    .frontend {
        height: 340px;
        width: 100%;
    }

    .frst-3 {
        font-size: 46px;
        margin-left: 0px;
        max-width: 257px;
        line-height: 48px;
        margin-top: 30px;
        font-weight: 700;
        letter-spacing: -3.05px;
    }

    .frst-4 {
        margin-left: 0;
    }

    .shrita {
        width: 96%;
    }

    .shrita .col-lg-6 img {
        margin-top: 23px;
        width: 100%;
    }

    .box-office-2 .knowladge {
        margin-top: 12px;
    }


    .box-office-2 .local-sec {
        margin-top: 30px;
    }

    .box-office-2 .knowladge {
        margin-top: 110px;
    }

    .box-office-2 .local-sec {
        height: 573px;
        margin-left: -32px;
    }

    .box-office-2 .local-sec .col-lg-4 {
        margin-top: 23px;
        padding-right: 32px;
        opacity: 0.88;
        width: 90%;
        margin-left: 18px;
    }

    .lineties {
        margin-top: -30px;
    }

    .len {
        margin-top: -50px;
    }

    .box-office {
        margin-top: 116px;
        height: 435px;
    }
    .box-office .local-sec {
        height: 293px;
        margin-top: -40px;
        width: 100%;
    }

    .box-office h1 {
        font-size: 31px;
        font-weight: 700;
        height: 99px;
    }

    .box-office .col-lg-3 {
        height: 122px;
        margin-top: 13px;
    }

    .box-office .col-lg-4 {
        height: 57px;
    }

    .tire {
        height: 300px;
    }

    .highfie {
        height: 900px;
    }

    .highfie .col-lg-7 {
        height: 350px;
    }

    .highfie .col-lg-5 h1 {
        font-weight: 700;
        font-size: 38px;
        width: 299px;
        letter-spacing: -2px;
    }

    .highfie .col-lg-5 p {
        font-size: 17px;
        max-width: 334px;
        margin-bottom: 29px;
    }



    .connect {
        margin-left: 9px;
        font-size: 18px;
        margin-top: 8px;
        font-weight: 700;
    }

    .highfie .col-lg-7 img {
        height: 316px;
        width: 29%;
    }


    .local-sec .col-lg-4 h2 {
        font-size: 19px;
        display: block;
        font-weight: 700;
        opacity: 0.92;

    }

    .local-sec .col-lg-3 h2 {
        font-size: 19px;
        display: block;
        font-weight: 700;
        opacity: 0.89;
    }

    .show {
        padding-top: 0px;
    }

    .w-embed {
        margin-top: 45px;
        height: 300px;
    }

    .world-no {
        margin-top: 12px;
        margin-left: 23px;
    }

    .Expert .col-lg-8 {
        margin-top: -17px;
        margin-left: -70px;
    }

    .growthing {
        padding-left: 10px;
        margin-top: 120px;
        height: 1240px;
        margin-left: 0px;
    }

    .growthing .col-lg-7 h1 {
        font-size: 25px;
        width: 288px;
    }

    .growthing .lead {
        font-size: 15px;
        width: 312px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 12px;
    }

    .growthing .col-lg-4 {
        margin-top: 473px;
    }

    .growthing .col-lg-4 img {
        width: 350px;
        margin-top: 95px;
        height: 355px;
        margin-left: 0px;
    }

    .part {
        margin-left: 0px;
        width: 30%;
    }

    .beauty {
        margin-top: 584px;
        width: 100vw;
        margin-left: 0px;
    }

    .beauty-cermon {
        width: 100vw;
        margin-left: 0px;
        margin-top: 85px;
    }


    .beauty-cermon h1 {
        font-family: "Inter", sans-serif;
        font-size: 35px;
        opacity: 0.81;
        font-weight: 800;
        padding-top: 125px;
    }

    .beauty-parlour {
        margin-top: 40px;
    }

    .beauty h1 {
        font-family: "Inter", sans-serif;
        font-size: 35px;
        opacity: 0.81;
        font-weight: 800;
        padding-top: 125px;
    }

    .contact-us {
        margin-top: 133px;
        margin-left: 0px;
        height: 957px;
        width: 98%;
    }
    .contact-us .col-lg-5{
        padding-top: 75px; padding-left: 10px;
    }

    .contact-us .col-lg-7 {
        margin-top: 165px;
    }

    .footer-group {
        margin-top: 65px;
    }

    .contact-us .footer {
        margin-left: -27px;
        margin-top: 31px;
    }

    .footer h6 {
        font-size: 15px;
        color: #111111;
        font-weight: 700;
        opacity: 1;
    }

    .footer a {
        opacity: 0.81;
        display: block;
        letter-spacing: 0.67px;
        margin-top: 16px;
        margin-bottom: 2px;
    }

    .home {
        padding-left: 0;
        width: 100%;
        margin-left: 0;
    }

    .knowladge {
        margin-top: 2310px;
        height: 400px;
    }

    .cenitiaz {
        position: relative;
        top: -80px;
    }

    .knowladge .col-lg-4 p {
        font-size: 18px;
        margin-left: 28px;
        opacity: 0.46;
        margin-top: 19px;

    }

    .expert-life {
        margin-top: 142px;
        height: 535px;
        padding-left: 73px;
    }

    .highlights {
        height: 800px;
        padding-left: 0px;
    }

    .highlights h1 {
        font-size: 21px;
        font-weight: 800;
        height: 23px;
    }

    .highlights p {
        font-size: 15px;
        opacity: 0.79;
        font-weight: 400;
        max-width: 295px;
        margin-top: 15px;
        margin-left: 21px;
        color: #3d3b3b;
    }

    .highlights .col-lg-5 img {
        height: 266px;
        width: 95%;
        margin-right: 12px;
    }

    .approch {
        height: 1280px;
        margin-left: -15px;
        background-color: #f6f9fc;
    }

    .approch img {
        height: 185px;
    }

    .approched {
        /* margin-top: 145px; */
        height: 990px;
    }

    .approch .btn {
        margin-left: -9px;
        text-align: center;
        margin-left: 14px;
        font-size: 23px;
        font-weight: 900;
        padding-left: 58px;
        width: 61%;
        padding: 11px;
        padding-right: 21px;
        margin-top: 23px;
        font-size: 20px;
        padding-top: 13px;
    }

    .approch p {
        font-weight: 500;
        line-height: 35px;
        letter-spacing: -0.8px;
        font-size: 19px;
    }

    .approch .col-lg-4 {
        border: none;
        height: 210px;
        margin-top: 20px;
        padding-left: 0px;

    }

    .approch .col-lg-3 {
        width: 94%;
        margin-top: 45px;
        padding-left: 0px;
        border: none;
        height: 210px;
    }

    .men-meeting h5 {
        margin-left: 13px;
        font-weight: 700;
        font-size: 18px;
        opacity: 0.82;
    }

    .approch h1 {
        line-height: 36px;
        font-size: 35px;
        margin-left: 20px;
        margin-top: 67px;
        letter-spacing: -1.5px;
        font-weight: 800;
    }

    .content-creator h1 {
        font-size: 43px;
        line-height: 51px;
        letter-spacing: -2px;
        opacity: 0.88;
        font-weight: 800;
    }

    .teammates {
        height: 1700px;
    }

    .content-portion {
        height: 380px;
    }

    .content-portion h1 {
        font-size: 45px;
        letter-spacing: -2px;
        height: 130px;
    }

    .content-portion p {
        font-size: 20px;
        opacity: 0.58;
        font-weight: 300;
        margin-top: 29px;
        color: #111111;
        max-width: 626px;
    }

    .teammates .col-lg-4 {
        margin-top: 25px;
        width: 96%;
        height: 550px;
    }

    .questions h1 {
        display: none;
        width: 0%;
    }

    .selfless .col-lg-3 {
        width: 95%;
    }

    .fitness {
        width: 100%;
    }

    .selfless .col-lg-3 h3 {
        margin-top: -160px;
        font-weight: 700;
        letter-spacing: -0.75px;
        opacity: 0.89;
        line-height: 29px;
        font-size: 19px;
    }

    .selfless .col-lg-7 {
        margin-left: 0px;
        width: 95%;
        height: 634px;
    }

    .input-group .sub {
        border-radius: 43px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4px;
        display: block;
    }

    .selfless .col-lg-7 h3 {
        margin-top: -160px;
        margin-left: -1px;
        font-weight: 700;
        letter-spacing: -0.75px;
        max-width: 300px;
        opacity: 0.81;
        line-height: 34px;
        font-size: 19px;
    }

    .paul {
        margin-top: -18px;
        padding-top: 0;
    }

    .selfless .col-lg-7 .w-embed {
        margin-top: 0px;
    }

    .certi-portion h1 {
        font-size: 29px;
        font-weight: 700;
        opacity: 0.91;
        height: 80px;
        margin-top: 0;
        letter-spacing: -1.4px;
    }

    .one2 {
        height: 300px;
        padding-top: 51px;
    }

    .ontime3 {
        height: 200px;
        margin-top: -51px;
    }

    .certi-portion .input-group {
        width: 105%;
        margin-left: -10px;
        border: none;
    }

    .input-group input {
        height: 57px;
    }

    .certi-portion .input-group .btn {
        margin-top: 1px;
    }

    .certi-portion .col-lg-6 {
        height: 120px;
        padding-top: 29px;
        padding-left: 34px;
    }

    .certi-portion img {
        width: 96%;
        height: 150px;
    }

    .ordinory {
        padding-left: 10px;
    }

    .ordinory .col-lg-4 {
        margin-top: -133px;
        width: 100%;
    }

    .today-lt {
        margin-top: 666px;
        height: 1800px;
        margin-right: 5px;
    }

    .letter-items {
        font-size: 16px;
        font-weight: 600;
    }

    .today-lt .col-lg-6 {
        height: 100px;
    }

    .twenty-1 {
        padding-left: 12px;
        font-weight: 800;
        font-size: 21px;
        margin-left: 0px;
        color: #111111;
        opacity: 0.81;
        font-family: "Inter", sans-serif;
    }

    .twenty-2 {
        font-size: 17px;
        margin-top: 12px;
        line-height: 30px;
        font-weight: 700;
        padding-right: 12px;
        font-family: "Inter", sans-serif;
        margin-left: 3px;
        letter-spacing: -0.67px;
        opacity: 0.39;
    }

    .jobs h1 {
        font-size: 50px;
        text-align: center;
    }

    .jobs p {
        margin-top: 27px;
        font-weight: 700;
        opacity: 0.82;
    }

    .jobs h6 {
        margin-top: 22px;
        margin-left: 12px;
        font-size: 21px;
        font-weight: 600;
    }

    .jobs h5 {
        margin-top: 32px;
        margin-left: 12px;
        font-size: 21px;
        font-weight: 600;
    }

    .jobs .btn {
        margin-left: 2px;
        padding-left: 23px;
        padding-right: 23px;
        margin-top: 23px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .clients {
        height: 1100px;
        margin-top: 26px;
    }

    .frst-section h1 {
        font-size: 34px;
    }

    .quoter {
        font-size: 44px;
        letter-spacing: -1.6px;
        max-width: 325px;
        font-weight: 700;
        text-align: center;
        line-height: 51px;
        margin-left: 12px;
        margin-top: 123px;
    }

    .clients .col-lg-5 {
        padding-left: 0px;
        height: 496px;
        margin-top: -29px;
    }

    .clients h4 {
        color: #111111;
        font-size: 16px;
        max-width: 292px;
        font-weight: 900;
        opacity: 0.78;
    }

    .clients .lead {
        font-size: 14px;
    }

    .livetik {
        height: 1300px;
        padding-left: 0px;
        width: 95%;
        margin-top: 45px;
    }

    .livetik h1 {
        font-size: 46px;
        opacity: 2;
        letter-spacing: -3px;
    }

    .livetik h2 {
        font-size: 34px;
        font-weight: 700;
        letter-spacing: -2px;
        opacity: 2;
    }

    .fluider {
        margin-top: 23px;
    }

    .fluider h1 {
        font-size: 26px;
        letter-spacing: -1px;
    }

    .local-sher {
        height: 1050px;
        padding-left: 0px;
    }

    .local-sher h1 {
        font-size: 34px;
    }

    .local-sher .col-lg-6 {
        margin-left: 12px;
        padding-left: 0px;
        width: 96%;
    }

    .local-sher .cont {
        margin-top: 328px;
    }

    .local-sher .col-lg-6 h5 {
        font-size: 17px;
        font-weight: 700;
        margin-left: 0px;
        color: #111111;
        opacity: 5;
        letter-spacing: -0.34px;
        max-width: 348px;
    }

    .local-sher .card-img-top {
        height: 15rem;
    }

    .local-sher .col-lg-6 .lead {
        margin-left: 0px;
    }

    .questions {
        /* margin-top: 240px; */
        width: 100%;
        padding-top: 0px;
    }

    #flush-collapseOne,
    #flush-collapseTwo,
    #flush-collapseThree,
    #flush-collapsefour,
    #flush-collapsefive {
        font-size: 14px;
        line-height: 24px;
        margin-top: 0;
    }

    .questions .col-lg-5 .accordion {
        margin-top: 0px;
    }

    .accordion {
        height: 800px;
    }

    .questions .col-lg-5 img {
        width: 96%;

        height: 16rem;
    }

    .questions .accordion-button {
        font-size: 16px;
        font-weight: 700;
        color: #111111;
    }
}